.about-me-intro-text h1 {
    font-size: 3.5em;
    margin-top: 3%;
}

.about-me-container {
    justify-self: center;
    display: flex;
    width: 80%;
    margin: auto;
}
.about-me-text {
    display: block;
    flex: 50%;
    padding: 5%;
}

.about-me-photo {
    display: block;
    flex: 50%;
    text-align: center;
    padding-top: 5%;
}
.about-me-photo img {
    width: 60%;

}
img {
    max-width: 100%;
}