

.home-intro h1 {
    font-size: 3.5em;
}
.home-intro h3 {
    font-size: 2em;
}

.home-intro {
    height: 500px;
}
.home-intro-text {
    width: fit-content;
    margin-top: 20%;
    margin-right: 50px;
    padding: 5px;
}
.home-intro-text h1 {
    margin-bottom: 10px;
}
.home-intro-text h1 span {
    font-weight: 600;
}

.home-intro-text h3 {
    line-height: 1.2em;
    margin-bottom: 15px;
}

/* HOME FEATURED CONTENT */
.home-flex {
    display: flex;
    flex-wrap: wrap;

}
.home-flex > section {
}
.featuredWork {
    width: 500px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    opacity: 80%;
}
.featuredContBox {
    width: 170px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    transition: all .2s ease-in-out;
    border-radius: 10px;

}

.contBox1 {
    background-color: rgba(246, 97, 4, 0.704);
}
.contBox2 {
    background-color: rgba(12,4,74,0.7);
}
.contBox3 {
    background-color: rgba(36,107,211,0.7);
}


.featuredContBox:hover { transform: scale(1.03); }


.docLinks {
    width: 400px;
    padding: 100px;

}
.docLinkIntro {
    margin-top: 10px;
}
.featuredDocument {
    margin: 20px 0px;
    border: solid 1px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    padding: 0px 10px;
}

/* HOME PAGE IMAGE */

.me-image {
    width: 550px;
    position: absolute;
    bottom: -120px;
    right: -260px;
    pointer-events: none;
}
