/* GENERAL CONTENT */
* {
    margin: 0em;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-color: white;
    color: black;

}
main {
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER STYLING */

.name-title {
    color: black;
    font-weight: 500;
    
}
.name-title:hover {
    animation: colorchange 0.25s forwards;
}
@keyframes colorchange {
    from {color: #3a4660;}
    to {color: #b08401;}
  }

.universal-header {

    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.universal-header > nav {
    margin-left: auto;
    line-height: 2.5em;
}
.universal-header h1:hover {
    opacity: 90%;
}

/* menu nav animation */

.header-links a h2 {
    position: relative;
    left: 0;
    transition: left ease 0.25s;
}
.header-links a h2:hover {
    opacity: 60%;
    left: -10px;
}

/* LOAD ANIMATION */

section {
    animation: load 0.5s;
}

@keyframes load {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}