/* page setup */

section {
    padding: 50px 0px 0px 0px;
}
.squeeze {
    padding: 30px 12% 0px 12%;
}
.textBlock {
    font-size: 1.2em;
    line-height: 2em;
}
.sectionHeading {
    font-weight: 800;
}
span {
    font-weight: 700;
}
.centerTitle {
    text-align: center;
    padding: 100px 0px 50px 0px;
    text-decoration: underline;
}


/* INTRO SECTION*/

.introSection {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;

}
.introText {
    font-size: 4em;
}
.introSection h1 {
    flex: 3;

}
.introSection div {
    flex: 2;

}


/* PROJECT OVERVIEW SECTION*/

/* PROJECT GOALS */

.projectOverview > div {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;

}
.projectOverview > div > div {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.projectOverview > div > div > p {
    width: 155px;
}


/* FINAL CONCEPT*/

    /* tab system*/

    .mockupTabs {
        border: 1px black;
    }
    .tabNav {
        display: flex; 
        justify-content: center;
    }
    .tabButton {
        display: block;
        padding: 8px 25px;
        width: 150px;
        height: 50px;
        margin: 1px;
        background-color: #eeeeee;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .tabButton--active {
        font-weight: bold;
        background-color: #dddddd;
        border-bottom: 1px black;
        outline: none;
    }
    .tabContent {
        padding: 15px 0px;
        display: none;
    }
    .tabContent--active {
        display: block;

    }

/* PROCESS / SCOPING */

.scopingInsights {
    display: flex;
    padding: 30px 0px;
}
.scopingInsights > ul {
    width: 50%;
}

/* INTERVIEWS */

.interviewGoalsContainer {
    display: flex;
}

/* IDEATION */

/* CONCEPT BUILDING*/

/* */
