body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #596855;
    background-color: #FBFFFC;
}
h1{
    font-size: 3.052em;
    font-weight: 500;
}
h2{
    font-size: 2.441em;
    font-weight: 500;
}
h3{
    font-size: 1.953em;
    font-weight: 400;
}
h4{
    font-size: 1.563em;
    font-weight: 400;
}
h5{
    font-size: 1.25em;
    line-height: 1.875em;
    font-weight: 300;
}
p{
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}
main, section {
    animation: load 0.5s;
}

@keyframes load {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

.universal-header{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-title:hover {
    animation: colorchange 0.2s forwards;
}
@keyframes colorchange {
    from {color: #596855;}
    to {color: #97b38f;}
  }

.nav-ul > li{
    display: inline-block;
    margin-right: 30px;
}
.nav-title{
    text-decoration: none;
    color: #596855;
}
.nav-title:hover{
    animation: colorchange 0.2s forwards;
}
a{
    text-decoration: none;
    color: #596855;
}
